@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Varela+Round&display=swap");

.App {
  text-align: center;
  background: linear-gradient(45deg, #2ba84a, #2d3a3a);
}

h1 {
  font-size: 4rem;
  color: #fcfffc;
  font-family: "Comfortaa", cursive;
  text-shadow: 3px 3px #040f0f;
  font-weight: 700;
  padding-top: 10px;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Comfortaa", cursive;
}

nav .active {
  font-weight: bolder;
}

textarea {
  width: 200px;
  margin-top: 5px;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  border: 2px;
  border-style: solid;
  background-color: #fcfffc;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

.bio-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.bio-container img {
  max-width: 30%;
  border: solid #040f0f;
  /* padding: 5px; */
  margin: 5px;
}

.bio-text {
  text-align: center;
  display: inline-block;
  width: 35%;
  height: 50%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  background-color: #2d3a3a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: solid #040f0f;

  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #040f0f;
  margin: 0 auto;
}

.card {
  /* max-width: 33%; */
  margin: 10px;
  background-color: #2d3a3a;
  color: #020300;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  border: 2px;
  border-style: solid;
  font-size: 1.25rem;
  /* display: flex; */
}

.card-title {
  font-family: "Comfortaa", cursive;
}

.card-img-top {
  max-width: 80%;
}

.button-box {
  display: flex;
  flex-direction: column;
  padding: 3px;

  /* font-family: "Comfortaa", cursive; */
}

.button-box button {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: "Comfortaa", cursive;
  /* border: solid #040f0f; */
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
}

.resume-container iframe {
  width: 100%;
  height: 100vh;
}

.contact-container {
  width: 40vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffbfe;
  margin-bottom: 10px;
  border-radius: 1rem;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

.contact-container button {
  font-size: 1.5rem;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: #363635;
}

.contact-container:nth-child(odd) {
  color: #363635;
  text-align: left;
  font-size: 1.5rem;
}

.contact-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  color: #fffbfe;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  background-color: #040f0f;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer a {
  padding-right: 10px;
  color: #fffbfe;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (PORTRAIT) ----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) and (orientation: portrait) {
  h1 {
    font-size: 3rem;
    margin-top: 10%;
  }

  nav {
    flex-direction: column;
    min-width: 90%;
  }

  .bio-text {
    font-size: 1.25rem;
    width: 90%;
    height: 90%;
  }

  .profile-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* .card:first-child {
    max-width: 100%;
  } */

  .card {
    max-width: 100%;
    justify-content: center;
    font-size: 1rem;
  }

  .contact-container {
    width: 90vw;
  }

  .resume-container .proficiencies {
    width: 90vw;
  }

  .resume-container iframe {
    width: 100vw;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (LANDSCAPE) ---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 989px) and (orientation: landscape) {
  h1 {
    font-size: 3rem;
    margin-top: 2%;
  }

  nav {
    flex-direction: column;
    min-width: 90%;
    margin-bottom: 10%;
  }

  .bio-container {
    margin-bottom: 10%;
  }

  .bio-text {
    font-size: 1.25rem;
    width: 90%;
    height: 90%;
  }

  .profile-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card:first-child {
    max-width: 100%;
  }

  .card {
    max-width: 100%;
    justify-content: center;
    font-size: 1rem;
  }

  .contact-container {
    width: 90vw;
    height: 100vh;
    padding-top: 40%;
    padding-bottom: 40%;
  }

  .resume-container .proficiencies {
    width: 90vw;
  }

  .resume-container iframe {
    width: 100vw;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- For Tablet Sized Displays (PORTRAIT) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 601px) and (max-width: 1499px) and (orientation: portrait) {
  h1 {
    font-size: 3rem;
    margin-top: 10%;
  }

  nav {
    flex-direction: column;
    min-width: 90%;
  }

  .bio-text {
    font-size: 1.25rem;
    width: 90%;
    height: 90%;
  }

  .profile-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* .card:first-child {
    max-width: 100%;
  } */

  .card {
    max-width: 100%;
    justify-content: center;
    font-size: 1rem;
  }

  .contact-container {
    width: 90vw;
  }

  .resume-container .proficiencies {
    width: 90vw;
  }

  .resume-container iframe {
    width: 100vw;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------- For Tablet Sized Displays (Landscape) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 990px) and (max-width: 1499px) and (orientation: landscape) {
  h1 {
    font-size: 3rem;
    margin-top: 2%;
  }

  nav {
    flex-direction: column;
    min-width: 90%;
    margin-bottom: 10%;
  }

  .bio-container {
    margin-bottom: 10%;
  }

  .bio-text {
    font-size: 1.25rem;
    width: 90%;
    height: 90%;
  }

  .profile-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    max-width: 100%;
    justify-content: center;
    font-size: 1rem;
  }

  .contact-container {
    width: 90vw;
    height: 100vh;
    padding-top: 40%;
    padding-bottom: 40%;
  }

  .resume-container iframe {
    width: 100vw;
  }
}
